[Unit]
Description=Roboty Hurts

[Service]
Type=simple
ExecStart=/bin/bash -c 'kitty --title "roboty_hurts" --config "/media/storage/Streaming/Software/scripts/dev/data/bot_kitty.conf" --hold sh -c "source ~/.venvs/bin/activate; python \'/media/storage/Streaming/Software/scripts/dev/services/roboty_hurts.py\'"'

Restart=always
RestartSec=10

[Install]
WantedBy=default.target